/*  Elemento contenedor */
display: flex /* Afecta a todos sus hijos y sus nietos */
display: grid

/* Flex */
    /*  Dirección   */
    flex-direction: row (defalut)
                    row-reverse
                    column
                    column-reverse
    
    /*  Ajuste de los elementos flexibles   */
    flex-wrap: nowrap (default) /* Una sola línea   */
               wrap (Los elemnt se ponen en múltiples líneas si no caben)
               wrap-reverse (= pero de arriba a abajo)

    /* Juntando dirección y ajuste  */
    flex-flow: flex-direction flex-wrap

    /*  Alineación Horizontal   */
    justify-content: flex-start
                     flex-end
                     center
                     space-between (separa entre los elementos ocupando todo el espacio)
                     space-around  (separa centrandolos en el espacio)
                     space-evenly  (separa dejando todos los espacios =)

    /*  Alineación vertical */
    Aplicación a todos los hijos
    align-items: flex-start
                 flex-end
                 center
                 stretch (no height) alarga todo en vertical en todo el espacio
                 baseline (alinea el texto en el centro)

        /*  alineación vertical para cada uno   */
        align-self: flex-start
                    flex-end
                    center
                    stretch (no height)
                    baseline

    /*  Alineación vertical-wrap    */
    align-content: flex-start
                   flex-end
                   center
                   stretch (no height)
                   space-between (separa los div dejandolos pegados top y bottom)
                   space-around   (los centra)

    /*  Orden   */
    order: (defaul = 0)

    /*  Tamaño  */
    flex-grow   crece
    flex-shrink contrae
    flex-basis  default = auto
    flex: grow shrink flex-basis-value (todo junto)

/*  Grid    */
    /*  Contenerdor */
    display:grid o inline-grid

    /*  Estructura  */
    grid-template-columns:  nº columnas y tamaño
    grid-template-rows:
    grid-row-gap:           separación entre filas
    grid-colum-gap:         Seperación entre columnas

    /*  Alineaación Horizontal  */
    justify-items: start
                   end
                   center
                   stretch (x default) (Coje todo el ancho y alto del padre)
        /*  Alineación para cada uno    */
        justify-self: (mismoq arriba)

    /*  Alineación vertical */
    align-items: start
                 end
                 center
                 stretch (x defautl)
        /*  Alineacion para cada uno    */
        align-self: (mismos)

    /* Juntar Horizontal y vertical */
    place-item: (vertical) (horizontal)

    /*  Distribución dentro del contenedor  */
    justify-content: (horizontal)
    align-content:   (vertical)
    place-content:   (vertical) (horizontal)

    /*  Colocalicón implicita   */
    Se la damos en el contender {
    grid-auto-colums
    grid-auto-rows
    grid-auto-flow: row (rellena las finlas primero)
                    column (columnas primeros)
                    dense (rellena primero los huecos si viene elementos más pequeños)
    }

    /*  Area    */
    grid-colum-start
    grid-colum-end
    grid-row-start
    grid-row-end
        /* Juntas   */
        grid-column: start / end
        grid-row: start / end
        grid: row-start column-start row-end column-end
        /*  En el contenedor    */
        gris-template-colums
        gris-template-rows
        gris-template-areas: 
