<!DOCTYPE html>
<!--Cmabiar el idioma-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Nombre del domumento en el buscador-->
    <title>Document</title>
    <!--Aplicar la etila style aquí-->
    <style>
    ol {
       color: red ;
    }
    li, dt, dd {
        color: black}
    </style>

    <link>
    <script></script>
</head>

<body>
    <ol type="1">Encabezados
           <li><h1>Es el mayor</h1></li>
           <li><h2>Este es el tamaño</h2></li>
           <li><h3>Este es el tamaño</h3></li>
           <li><h4>Este es el tamaño</h4></li>
           <li><h5>Este es el tamaño</h5></li>
           <li><h6>Es el pequeño</h6></li>
        </ol><br>
        <ol>Etiquetas de formato
        <li><b>Negrita</b></li>
        <li><i>Cursiva</i></li>
        <li><del>Tachado</del></li>
        <li><em>Énfasis</em></li>
        <li><small>Pequeño</small></li>
        <li><sup>Super índice</sup></li>
        <li><sub>Sub-índice</sub></li>
        <li><mark>Subrayado</mark></li>
        <li><q>Cita pequeña</q></li>
        <li><cite>Título de trabajo</cite></li>
        <li><time>Hora</time></li>
        <li><address>Dirección</address></li>
        <li><blockquote></blockquote></li>
    </ol><br>
    <ol>Otros elementos
        <li>Salto de línea<br></li>
        <li>Separación de tema<hr></li>
        <li><p>Párrafo</p></li>
    </ol><br>
    <ol>Imagénes
        <li><img src="Indica donde está el archivo" alt="texto alternativo para la imagen" width="anchura" heigth="altura"></li>
    </ol><br>
    <ol>Figuras
        <li>IMG</li>
        <li>figcaption</li>
    </ol><br>
    <ol>Enlaces
        <li><a href=" enlaces internos" target=""></a></li>
        <li>Imagenes con enlaces<a><img../></a></li>
    </ol><br>
    <ol>Listas
        <dl>
                <dt>ul</dt>
                <!--dd=definición-->
                <dd>Listas no numeradas</dd>
        
                <dt>ol</dt>
                <dd>Listas numeradas</dd>
        
                <dt>dt</dt>
                <dd>Listas de definición</dd>
            </dl>
        </ol><br>
        <ol>Tablas
            <li><colgroup>Representa un grupo de columnas <col> El número de columnas</colgroup></li>
            <li><table>Inicio de tabla</li>
            <li><caption>Titulo de la tabla</caption></li>
            <li><thead>La cabecera</li>
            <li><tr>Una fila</li>
                    <th>Es la cabezera, en negrita</th>
                    <td>Es un registro</td>
                </tr>
            <li></thead>cierre de la cabecera</li></thead>
            <li><tbody>El cuerpo de la tabla</li>
                <tr>Fila</tr>
            <li>cierre del cuerpo</li></tbody>
            <li><tfoot>Pie de la tabla</li>
                <tr></tr>
            <li></tfoot>Cierre del pie</li>
            <li>Cierre de la tabla</table></li>
            <li>rowspan</li>
            <li>colspan</li>
        </ol>
        <ol>Bordes
            <li>Típico
                table { 
                border-collapse: collapse;
                }
                td, th {
                    border:1px solid black
                }
            </li>
        </ol>
        <ol>Forms
            <li><ol>Estructura
                <li><form>El padre</form></li>
            <li><label for="algunNombre">Etiqueta</label></li>
            <li><input type="text" name="algun_nombre">Campo de ingreso datos</li>
            <li><fieldset>Grupo de etiquetas (como tabla)</fieldset></li>
            <li><legend>Título dentro del fieldset</legend></li>
            <li><textarea rows="" cols="">Campo de textos grandes</textarea></li>
            <li><datalist></datalist></li>
            <li><select>Desplegable</select></li>
            <li><option>Opciones del desplegable</option></li>
            <li><button type="submit">Botón</button></li>
       
            <li><ol>Atributos interesantes
                <li>requiered</li>
                <li>disabled</li>
                <li>readonly</li>
                <li>placeholder</li>
                <li>selected</li>
                <li>value</li>
                <li>tabinex</li>
                <li>multiple</li>
            </ol></li>
        </ol></li>
        <li><ol>Tipos de input
            <li>button></li>
            <li>checkbox</li>
            <li>color</li>
            <li>date</li>
            <li>radio groups</li>
            <li>datalist</li>
        </ol></li>
                </ol>
    </form>
</body>
</html>